* {
	font-family:Arial, Helvetica, sans-serif;
}
#logo {
	float : right;
}
#top {
	width : 500px;
}
#page {
	margin : 10px;
}
fieldset {
	width : 500px;
	padding : 10px;
	margin-top : 10px;
	border : solid 3px grey;
	line-height : 2em;
}
legend {
	border : none;
	padding : 5px 10px 5px 10px;
	line-height : 1em;
	background-color : grey;
	color : white;
}
label {
	width: 150px;	
	display: block;
	float: left;
}
label.labelradio , label[for=copie] {
	display: inline;
	float:none;
	margin-right:20px;
}
h1 {
	font-size:24px;
}
input[type=submit],input[type=reset] {
	background-color : green;
	color : white;
	margin-top : 20px;
	font-size:16px;
	weight:bold
}
